<h2>About this app</h2>
<ul>Tops 3 reasons you should use it</ul>
  <li>More product results than competitors</li>
  <li>Price match is always guaranteed</li>
  <li>6 month warranty on all purchases</li>
