<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Berlin</title>
  </head>

  <body>

    <h1>About this app</h2>
    <ul>Tops 3 reasons you should use it
      <li>More product results than competitors</li>
      <li>Price match is always guaranteed</li>
      <li>6 month warranty on all purchases</li>
    </ul>

  </body>
<html>
