<h1>Welcome to Bike NYC</h1>
<h2>Your source for used bikes in NYC!</h2>
<%= image_tag("https://foffabikes.com/wp-content/uploads/2016/01/Grey011.jpg", class: "img-responsive") %>
<div class= "index-about">
  <h2>About this app</h2>
    <ul>Tops 3 reasons you should use it</ul>
      <li>More product results than competitors</li>
      <li>Price match is always guaranteed</li>
      <li>6 month warranty on all purchases</li>
</div>