<h1>Welcome to Cycle NYC</h1>
<h2>Your source for used bikes in NYC!</h2>
<%= image_tag("https://s-media-cache-ak0.pinimg.com/originals/3c/48/d0/3c48d0f77957c18137e36020041f9210.jpg", class: "img-responsive store-front") %>