<div class="panel panel-default">
  <div class="panel-body">
    <%= image_tag("http://www.dafont.com/forum/attach/orig/3/8/386793.jpg", :alt => "thank you", class: "img-responsive") %>
  </div><!-- / panel-body -->
</div><!-- / panel -->
