<table>
  <tbody>
    <tr>
      <td><h2>Welcome to Cycle NYC!</h2></td>
    </tr>
    <tr>
      <td><p>Thank you so much for signing up with <%= @appname %>!</p></td>
    </tr>
    <tr>
      <td><p><strong>You're awesome!</strong></p></td>
    </tr>
  </tbody>
</table>