// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reviews-ratings {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 5%;
  padding: -2%;
}

.add-a-rating {
  margin-left: 2%;
}