// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: dark-gray;
	font-size: 3em;
	text-align: center;
}

h2 {
	text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-top: 20%;
  /* Margin bottom by footer height */
  margin-bottom: 5%;
}

#my-image {
  display: block;
  margin: 0 auto;	
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#featured-bike {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 75%;
  width: 75%;
}

